<h1>Check that snack!</h1>
<h2>{{snack.name}}</h2>
<h3>Company : {{snack.creator_company}}</h3>
<p>Experation : {{snack.experation_date}}</p>
<p>Rating : {{snack.my_rating}}</p>
<img class='snack-img' src="{{snack.img_url}}">
